
<h1>CHCSJ 實用實付</h1>

<div class="container-data-filter">

    <div class="container-data-filterby" style="width: 35%">
        <div class="input-group-container">
            <!-- Label Group -->
            <div class="label-block">
                <b>Search by (用途/ 物品編號/ Description)</b>
            </div>

            <!-- Input Group -->
            <div class="input-group">
                <q-input v-model="searchText" :rules="[required]" placeholder="Enter search term..."></q-input>
                <q-btn 
                    icon="delete" 
                    color="primary" 
                    @click="btnClearSearch = true"
                    class="clear-btn"
                    style="min-width: 80px;">
                    Clear
                </q-btn>
            </div>
        </div>
    </div>

    <div class="container-data-filterby">
        <b>Suppliers</b>
        <q-select
          filled
          :options="suppliers"
          v-model="selectedSuppliers"
          multiple
        />
    </div>
    
    <div class="container-data-filterby">
        <b>用途</b>
        <q-select
          filled
          :options="caseOptions"
          v-model="selectedCases"
          multiple
        />
    </div>
    

</div>
<!-- <hr> -->

<div>
    <table>
        <tr>
            <template v-for="thead in theads">
                <th>{{thead}}</th>
            </template>
        </tr>
        
        <template v-for="product in products" :key="index">
            <tr>
                <td v-if="product.col1_index == 1">
                    {{product.supplier}}
                </td>
                <td v-else></td>

                <td v-if="product.col2_index == 1">
                    {{product.use_case}}
                </td>
                </td>
                <td v-else></td>
                <td>{{product.code}}</td>
                <td>{{product.desc}}</td>
                <td :style="{ color: product.ot_qty < 5 ? 'blue' : 'grey' }">
                    {{product.ot_qty}}
                </td>
            </tr>
        </template>
    </table>
</div>