

<div>
    <nav>
        <div class="logo">FCC Surgical</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/chcsj_pubp_items">CHCSJ PUBP items</a></li>
            <li><a href="/users/tenders_notas">Tenders Notas</a></li>
        </ul>
    </nav>
</div>

<h3>CHCSJ PUBP Items</h3>

<div class="container-data-filter">
    <div class="container-data-filterby" style="width: 35%">
        <div class="input-group-container">
            <!-- Label Group -->
            <div class="label-block">
                <b>Search by (用途/ 物品編號/ Description)</b>
            </div>

            <!-- Input Group -->
            <div class="input-group">
                <q-input v-model="searchtext" :rules="[required]" placeholder="Enter search term..."></q-input>
                
                <q-btn 
                    icon="search"
                    color="primary" 
                    @click="btnsearch = true"
                    :loading = "btnsearch"
                    style="min-width: 50px;">
                    Search
                </q-btn>
                
                <q-btn 
                    icon="delete" 
                    @click="btnClearSearch = true"
                    style="min-width: 50px;">
                    Clear
                </q-btn>

            </div>
        </div>
    </div>

    <div class="container-data-filterby">
        <b>Suppliers</b>
        <q-select
          filled
          :options="suppliers"
          v-model="selectedsuppliers"
          multiple
        />
    </div>
    
    <div class="container-data-filterby">
        <b>用途</b>
        <q-select
          filled
          :options="cases"
          v-model="selectedcases"
          multiple
        />
    </div>
</div>

<div v-show="products.length === 0">No Data Available</div>

<div>
    <table>
        <tr>
            <template v-for="thead in theads">
                <th>{{thead}}</th>
            </template>
        </tr>
        
        <template v-for="product in products" :key="index">
            <tr>
                <td v-if="product.col1_index == 1">
                    {{product.supplier}}
                </td>
                <td v-else></td>

                <td v-if="product.col2_index == 1">
                    {{product.usecase}}
                </td>
                <td v-else></td>
                <td>
                    {{product.code}}
                    <br>
                    <b>{{product.desc}}</b>
                </td>
                
                <td :style="{ color: product.otNotaQty < 5 ? 'blue' : 'grey' }">
                    {{product.otNotaQty}}
                </td>

                <td v-if="product.openTenderInfo != 'missing'" class="has-info tooltip" :style="{ color: product.otNotaQty < 5 ? 'blue' : 'grey' }">
                    {{product.otTenderQty}}
                    <span class="tooltiptext">{{product.openTenderInfo}}</span>
                </td>
                <td v-else :style="{ color: product.otNotaQty < 5 ? 'blue' : 'grey'}">
                    {{product.otTenderQty}}
                </td>
            </tr>
        </template>
    </table>
</div>